<section class="bg-zinc-900 p-20 rounded-xl my-4">
    <h1 class="text-5xl font-bold my-5">About Us</h1>
    <p class="text-zinz-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad architecto minus voluptate suscipit explicabo, dolor, non eos dolores aut consectetur laborum accusantium?</p>

</section>