---
import love from './images/love.svg'
---

<header class='bg-zinc-700 p-4 flex flex-col md:flex-row items-center'>
    <h1
        class='m-4 text-red-400 font-bold text-[2rem]  rounded-[.8rem] p-4 border-black border-8'
    >
        Proteje tu contraseña
    </h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae officia esse qui beatae molestiae ipsa alias, perspiciatis magni voluptatum, dicta debitis ea.
    </p>
    <button
        type='submit'
        class=' m-2 bg-orange-300 p-4 rounded-[.5rem] text-black font-bold shadow-lg shadow-black-500/40 hover:bg-orange-400'
    >
        Start now
    </button>
    <img
        src={love}
        alt='mujer con un corazón'
        class='w-44'
    />
</header>
