---
import Layout from '../layouts/Layout.astro'

//components
import Hero from '../components/Landing/Hero.astro'
import Features from '../components/Landing/Features.astro';
import More from '../components/Landing/More.astro';
import Project from '../components/Landing/Project.astro';
import About from '../components/Landing/About.astro';
---

<Layout title='Auxiliar Manipuladora de Cartón' description="Empresa hacedora de cajas">
	
	<main>
		<Hero> </Hero>
		<More></More>
		<Features></Features>
		<Project></Project>
		<About></About>
	</main>
	
</Layout>