---
import Layout from '../layouts/Layout.astro'
import CardMario from '../components/CardMario/CardMario.astro'
---

<Layout title='david' description="Empresa hacedora de cajas">
	
	<h1>Desde Index</h1>
	
	<CardMario></CardMario>
	
</Layout>