---
export interface Props {
	title?: string;
	description?: string;
}

const { title = 'Auxiliar Manipuladora', description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main class="mx-auto container bg-[#292929] text-white md:p-10">
			<slot />
		</main>
	</body>
</html>
<style is:global>
	body{
		background-color: #202020;
		color: #9f9f9f;
	}
</style>
